@charset "utf-8";

body, div, td, p, ul, ol, dl, dd, img, form, h1, h2, h3, h4, h5 {
    border: medium none;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

body {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #000000;
    font: 13px arial, helvetica, clean, sans-serif;
}

body {
    height: 100%;
    line-height: 1.2;
    text-align: center;
}

div.padding1 > span {
    background-color: blue;
    font-weight: bold;
    color: white;
}

span.checked {
    background-color: #32CD32;
    font-weight: normal;
    color: black;
}
span.unchecked {
    background-color: orange;
    font-weight: normal;
    color: black;
}
span.delcheck {
    background-color: #E6E6E6;
    font-weight: normal;
    float: right;
    color: black;
}
span.invisible {
    background: #E6E6E6;
    color: #E6E6E6;
}

.hide {
    display: none;
}

.searchbox {
    height: 70px;
    padding-top: 15px;
    padding-left: 15px;
}

.area {
	width: 880px;
	background-color: cadetblue;
	padding-top: 5px;
    padding-left: 15px;
	padding-bottom: 5px;
}
.padding1 {
    padding: 15px;
}
.padding2 {
    padding: 5px;
}

input#mainInput {
    font-size: 1.25rem;
    width: 50%;
    height: 50px;
}

input.small {
    font-size: 0.5rem;
    background: #E6E6E6;
    color: white;
    width: 50px;
    height: 20px;
    border: none;
}

.ui-match {
    background: yellow;
    color: red;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
}
div.flex > div {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}
div.add {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

div#note div.long {
    width:300px;
    word-wrap:break-word;
}
div#note div.scroll {
    overflow-y: scroll;
    height: 150px;
}
div#note div.highlight {
    background-color: #ffff00;
}
div#note div.invisible {
    color: #CCCCCC;
}
div#note div.invisible:hover {
    color: black;
}
div#note div.lowpriority {
    background-color: #A6A6A6;
}

a.link {
    text-decoration: none;
}

a > span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    text-decoration: none;
}

span.link {
    font-size: 14px;
    font-weight: bold;
	margin: 10px;
    text-decoration: none;
    cursor: pointer;
}

span.normal {
    font-size: 14px;
    font-weight: normal;
	margin: 10px;
    text-decoration: none;
}

span.word {
    float: left;
    width: 40%;
}
span.desc {
    color: #E6E6E6;
    float: left;
    text-align: right;
    width: 50%;
}
span.desc:hover {
    color: black;
    font-weight: bold;
}

div.flex > div.space {
    display: none;
    background-color: #3CB371;
    min-width: 3px;
    border-width: 0px;
    padding: 3px;
    cursor: pointer;
}

div.memoHead {
    font-weight: bold;
    float:left;
    padding-left:8px;
    width:70%;
}

div.longMemoHead {
    font-weight: bold;
    float:left;
    padding-left:5px;
    width:90%;
}

div.memoHead.selected {
    background-color: #CD5C5C;
}
div.memoHead.selected:before {
    color: white;
    font-weight: bold;
    content: "[MOVE MEMO] ";
}

/**  */
#popup_outer {
    display: none;
    position: fixed;
    z-index: 20000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#popup_inner {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#popup_inner .pop_contents {
    display: none;
    width: 700px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    position: relative;
    font-size: 16px;
    line-height: 1.7;
}
#popup_inner .close {
	font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
